<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">
      Product Page
    </h1>    
    <div class="fixed-grid has-3-cols has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop has-5-cols-widescreen has-8-cols-fullhd">
      <div class="grid">
      <% for (let product of products) { %>
          <div class="cell">
            <div class="card is-one-third">
              <div class="card-content">
                <p class="title">
                  <%= product.name %>
                </p>
                <p class="subtitle">$<%= product.price %></p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span>
                    <%= product.category %>
                  </span>
                </p>
                <p class="card-footer-item">
                  <span><a href="/shop/<%= product._id %>">More Info</a></span>
                </p>
              </footer>
            </div>
          </div>
      <% } %>
      </div>
    </div>

  </div>
</section>

<%- include('../partials/footer') %>